body {
  background-image: url("/img/code-pic.gif");
  background-color: rgba(255,118,0,0.78);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#surveyShowing {
  display: none;
}
#matchShowing {
  display: none;
}
#language {
  color: rgb(6, 83, 13);
}