.dark-background {
  color: rgb(7, 184, 7);
  background-color: rgb(29, 26, 26);
}
.light-background {
  color: black;
  background-color: white;

}
.format {
  padding: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  box-sizing: border-box;
  
}
.centered-image {
  width: 100;
  height: auto;
}
.revert {
  display: none;
  float: right;
}
#surveyShowing {
  display: none;
}
#matchShowing {
  display: none;
}
#language {
  color: rgb(6, 83, 13);
}
